<h1>Edit Denie</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.html_iam_denie_path(@conn, :update, @denie)) %>

<span><%= link "Back", to: Routes.html_iam_denie_path(@conn, :index) %></span>
