<h1>Show Denie</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.html_iam_denie_path(@conn, :edit, @denie) %></span> |
<span><%= link "Back", to: Routes.html_iam_denie_path(@conn, :index) %></span>
