<h1>Edit Flow</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.html_flows_flow_path(@conn, :update, @flow)) %>

<span><%= link "Back", to: Routes.html_flows_flow_path(@conn, :index) %></span>
