<h1>Edit Schema</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.html_schemas_schema_path(@conn, :update, @schema)) %>

<span><%= link "Back", to: Routes.html_schemas_schema_path(@conn, :index) %></span>
