<h1>Show Allow</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.html_iam_allow_path(@conn, :edit, @allow) %></span> |
<span><%= link "Back", to: Routes.html_iam_allow_path(@conn, :index) %></span>
