<h1>New Datasource</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.html_forms_datasource_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.html_forms_datasource_path(@conn, :index) %></span>
