<h1>New System</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.html_iam_system_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.html_iam_system_path(@conn, :index) %></span>
