<h1>Show Task</h1>

<ul>

  <li>
    <strong>Can do:</strong>
    <%= @task.can_do %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.html_tasks_task_path(@conn, :edit, @task) %></span> |
<span><%= link "Back", to: Routes.html_tasks_task_path(@conn, :index) %></span>
